html,body{
	background: #f4f4f4;
	position: relative;
}
.content{
	width: 1240px;
	margin: 0 auto;
}

/* 首页通用头部部分修改 */
#header_box{
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	background: rgba(0, 0,0, 0);
}
#header_box a{
	color: white;
}
#header_box:hover a{
	color:#515151;
}
/* 首页通用头部部分修改 */

/* 轮播图开始 */

#banner {
	width: 100%;
	height: 670px;
	/* position: relative; */
}

.client {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}
 
.client #box {
	position: absolute;
	top: 0;
	height: 100%;
	width: 800%;
}

.client #box li {
	float: left;
	height: 100%;
	width: calc(100% / 8);
}
.client #box li a{
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.client #box img{
	height: 670px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.client #ball {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	width: 120px;
	height: 12px;
	justify-content: space-between;
	align-items: center;
}

.client #ball li {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: white;
	margin: 0 5px;
	cursor: pointer;
}

.client #ball .now {
	width: 10px;
	height: 10px;
	background-color: transparent;
	border: 1px solid #ffffff;
}

/* 轮播图结束 */

/* 服务栏开始 */

#service{
	height: 278px;
	background: #fff;
}
.service{
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;	
	text-align: center;
}
.service a img{
	width: 190px;
	height: 130px;
}
.service a p{
	font-size: 20px;
	color: #333;
}
.service a span{
	color: #999;
}

/* 服务栏结束 */

/* 展示区通用样式 */
.area_title{
	height: 47px;
	padding-top: 59px;
	text-align: center;
}
.area_title h3{
	font-size: 30px;
	color: #515151;
}
.area_banner{
	height: 450px;
	position: relative;
	transition: all 0.2s linear;
}
.area_banner:hover{
	opacity: 0.8;
}
.area_banner a{
	height: 100%;
}
.area_banner a img{
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.list{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	align-content: space-between;
}
.list a{
	width:24.5%;
	height: 375px;
	text-align: center;
	transition:  all 0.2s linear;
	background: white;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}
.xiugai	{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	align-content: space-between;
	background: palegreen;
	float:left;
}
	
	
	
	
	
	
	
	
	
.list a:hover{
	box-shadow: 0px 5px 20px 1px #bebebe; 
		
}
.list a img{
	height: 230px;
	/* width: 230px; */
}
.list span{
	display: inline-block;
}
.list span:nth-of-type(1){
	font-size: 16px;
	color:#333;
}
.list span:nth-of-type(2){
	font-size: 14px;
	color:#999;
}
.list span:nth-of-type(3){
	font-size: 22px;
	color:#d21f1f;
}
.list span:nth-of-type(3) i{
	font-size: 14px;
	color:#d21f1f;
}
/* 手机区开始 */

.c_point{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.c_point a{
	width:49.5%;
	height: 610px;
	text-align: center;
	transition:  all 0.2s linear;
	background: white;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}
.c_point a:hover{
	box-shadow: 0px 5px 20px 1px #bebebe; 
		
}
.c_point a img{
	height: 460px;
	width: 460px;
}
.c_point span{
	display: inline-block;
}
.c_point span:nth-of-type(1){
	font-size: 28px;
	color:#333;
}
.c_point span:nth-of-type(2){
	font-size: 18px;
	color:#999;
}
.c_point span:nth-of-type(3){
	font-size: 22px;
	color:#d21f1f;
}
.c_point span:nth-of-type(3) i{
	font-size: 14px;
	color:#d21f1f;
}


/* 手机区结束 */

/* 声学区,配件区,生活区通用样式开始 */
.sound_area a:nth-of-type(4n+1) img,.fittings_area a:nth-of-type(4n+1) img,.life_area  a:nth-of-type(4n+1) img{
	height: 100%;
}
.sound_area a:nth-of-type(4n+1) span,.fittings_area a:nth-of-type(4n+1) span,.life_area  a:nth-of-type(4n+1) span{
	display: none;
}
/* 声学区,配件区,生活区通用样式开始结束 */

